<app-navbar></app-navbar>
<div class="container-fluid mr-3">
	<div class="row justify-content-center">
		<div class="col-12">
			<h2 class="mt-3 mb-4">Customers list <a class="btn btn-sm btn-outline-primary float-right" routerLink="/account" routerLinkActive="active">New Customer</a></h2>
			<div *ngIf="!loading">
				<table class="table table-bordered">
					<thead class="thead-default">
						<tr>
							<th>ID</th>
							<th>Real Name</th>
							<th>Username</th>
							<th>Email</th>
							<th>Status</th>
							<th>Last Login</th>
							<th>Actions</th>
						</tr>	
					</thead>
					<tbody>
						<tr *ngFor="let user of users">
							<td>{{ user.id }}</td>
							<td>{{ user.firstName }} {{ user.lastName }}</td>
							<td>{{ user.username }}</td>
							<td>{{ user.email }}</td>
							<td>
								<span *ngIf="user.enabled" class="badge badge-success">Enabled</span>
								<span *ngIf="!user.enabled" class="badge badge-danger">Disabled</span>
							</td>
							<td>{{ momentInst(user.lastLogin).format('MMM DD, YYYY hh:mm:ss A') }}</td>
							<td>
								<a [routerLink]="['/account', user.id]" routerLinkActive="active">details</a> | 
								<a href="#" (click)="delete(user.id)">delete</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div *ngIf="loading" class="loader"></div>
		</div>
	</div>
</div>
